* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(33, 150, 169);
  background: linear-gradient(
    45deg,
    rgba(33, 150, 169, 1) 0%,
    rgba(16, 53, 76, 1) 100%
  );
  padding: 10px;
}
