* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

/* body {

  background: rgb(33, 150, 169);
  background: linear-gradient(
    45deg,
    rgba(33, 150, 169, 1) 0%,
    rgba(16, 53, 76, 1) 100%
  );
  padding: 10px;
} */

.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(54deg, rgb(23, 22, 22) 0%, rgb(5, 5, 5) 100%);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.row button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 16px 10px 16px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  background: #ebebeb;
  border-radius: 10px;
  margin: 10px 0px;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(../img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
  background: #cfcfcf;
  border-radius: 50px;
}

ul li.checked::before {
  background-image: url(../img/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}

ul li span:hover {
  background: #edeef0;
}

/* mobile responsive */
@media (max-width: 769px) {
  .container {
    background: rgb(255, 255, 255);
  }
  .todo-app {
    box-shadow: none;
  }
}
